{% extends 'layout.html' %}
{% load i18n %} 
{%  block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Student cabinet</h1>
    </div>



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Lessons</th>
                    <th>Mentor</th>
                    <th>Actions</th>
                </tr>
            </thead>
           
            <tbody>
            {% for c in courses  %}
                <tr>
                    <td>
                        {%  if c.pk not in joined_courses  %}
                            {{ c.name }}
                        {% else %}
                            <a href="{% url 'detail-course-student' course_id=c.pk %}" 
                            >{{ c.name }}</a>
                        {% endif %}                      
                    </td>
                    <td>{{ c.count_lessons }}</td>
                    <td>{{ c.mentors }}</td>
                    <td>
                    {%  if c.pk not in joined_courses  %}
                    <a href="{% url 'join-course-student' course_id=c.pk %}" class="btn btn-sm btn-secondary">{% trans 'Join' %}</a>
                    {% else %}
                        <a href="{% url 'detail-course-student' course_id=c.pk %}" 
                        class="btn btn-sm btn-primary">{% trans 'Detail' %}</a>
                    {% endif %}
                    </td>
                   
                </tr>            
            {% endfor %}

            </tbody>
          </table>

        </div>
    </div>
</div>


{% endblock %}