{% extends 'layout.html' %}
{% load i18n %} 
{%  block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ course }}</h1>
                <a 
        class="btn btn-primary"
        href="{% url 'student-course-labs' course_id=course.pk %}">
           {% trans 'Практические задания' %}
        </a>
    </div>



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{% trans 'Educational material' %}</h6>

    </div>
    <div class="card-body">
        <div class="table-responsive">

          <table class="table table-bordered lesson-list" id="dataTable" width="100%" cellspacing="0">
           
            <tbody>
            {% for l in lessons  %}
                <tr>
                   <td>
                     {{ l.get_image }}
                   </td>
                    <td>
                    <a href="{% url 'detail-lesson-student' lesson_id=l.pk %}">
                        {{ l.number }}. {{ l.title }}
                    </a>
                    {% if l.desc %}
                        <p>
                            {{ l.desc|safe }}
                        </p>
                        <p>
                            <ul>
                                {% for t in l.topic_set.all %}
                                    <li>
                                        <a href="{{t.get_absolute_url}}">{{ t.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endif %}
                    {% if l.has_lab %}
                    <div class="row div-marging-5" >
                        <a class="btn btn-success" href="{% url 'detail-lab-student' lab_id=l.get_lab.pk %}">{% trans 'Пройти практику'%}</a>
                    </div>
                    {% endif %}
                    </td>
                </tr>            
            {% endfor %}

            </tbody>
          </table>

        </div>
    </div>
</div>


{% endblock %}