{% extends 'layout.html' %}
{% load i18n %} 
{%  block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ lesson }}</h1>
        {% if lab %}
        <a href="{% url 'detail-lab-student' lab_id=lab.pk %}" class="btn btn-primary">
          {% trans 'Pass of the lab'%}
        </a>
        {% endif %}
    </div>


{% for topic in topics %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            
            <h6 class="m-0 font-weight-bold text-primary">
            <a href="{% url 'detail-course-student' course_name_slug=topic.lesson.course.name_slug %}"> {{ topic.lesson.course }} </a> ->
            {{ topic.title }}
            </h6>
        </div>
        {{topic.video_tag}}
        <div class="card-body">
            {{ topic.content }}
        </div>
    </div>
{% endfor %}

{% endblock %}