{% extends 'layout.html' %}
{% load i18n %} 
{%  block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% trans 'Приглашение на обучение' %}</h1>
    </div>
    <div class="card shadow mb-4">
   
        <div class="card-body">
            {% trans 'Ваш пароль в систему' %}: {{ paswd }}
        </div>
        <div class="card-body">
            <a href="{% url 'student-profile' %}" class="btn btn-primary btn-user btn-block">
                {% trans 'Перейти к заполнению профиля' %}
            </a> 
        </div>
    </div>
{% endblock %}