{% extends 'layout.html' %}
{% load i18n %} 
{%  block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% trans 'Labs' %}</h1>
    </div>


{% for course in courses  %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ course.name }}</h6>
    </div>

    <div class="card-body">
        <div class="table-responsive">
          
          
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
           
            <tbody>
            {% for l in course.lab_set.all  %}
                <tr>
                    <td>
                    <a href="{% url 'detail-lesson-student' lesson_id=l.pk %}">
                        {{ l.lesson }}      
                    </a>             
                    </td>
                    <td>
                        <a href="{% url 'detail-lab-student' lab_id=l.pk %}">
                        {{ l.title }}     
                        </a>              
                    </td>
                     <td> 
                        {% if l.pk not in exist_labs %}
                        <i class="fas fa-fw fa-times-circle">
                        </i>
                        <span class="color-red">{% trans 'Empty!' %}</span>
                        <a class="btn btn-sm btn-primary" href="{% url 'detail-lab-student' lab_id=l.pk %}">
                        {% trans 'Pass off' %}  
                        </a>  
                        {% else %}
                        <i class="fas fa-fw fa-thumbs-up">
                        </i>
                        <span class="color-green">{% trans 'Done!' %}</span>
                        {% endif %}
                     </td>
                </tr>            
            {% endfor %}

            </tbody>
          </table>

          


        </div>
    </div>
</div>
{% endfor %}

{% endblock %}