{% extends 'layout.html' %}
{% load i18n %} 
{%  block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% trans 'Моя группа' %}</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                {{ user.student.group.name }}
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting sorting_asc" >
                                {% trans 'Фамилия' %}
                            </th>
                            <th class="sorting sorting_asc" >
                                {% trans 'Имя' %}
                            </th>
                            <th class="sorting sorting_asc" >
                                {% trans 'Отчество' %}
                            </th>
                        </tr>
                    </thead>
                    {% for student in students  %}
                        <tr>
                            <td>{{ student.surname }}</td>
                            <td>{{ student.fname }}</td>
                            <td>{{ student.lname }}</td>
                        </tr>
                    {% endfor %}                    
                </table>
            </div>
        </div>
    </div>






{% endblock %}