{% extends 'layout.html' %}
{% load i18n %} 
{%  block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Курсовые работы</h6>

    </div>
    <div class="card-body">
        <div class="table-responsive">

          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
           
                {% for k in kursaks %}
            
                <tr>
                    <td>
                        {{ k.title }} / 
                        {{ k.course }}
                    </td>
                   
                    <td>
                        <a class="btn" href="{{k.file.url}}">Скачать</a>
                    </td>
                   
                </tr>       

                {% endfor %}     

                </table>
            </div>
        </div>
    </div>


    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% trans 'Курсы' %}</h1>
    </div>

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
             
            
                <tbody>
                    {% for item in courses  %}
                        {% include 'parts/course_item.html' %}          
                    {% endfor %}
                </tbody>
            </table>
            



   {{ text|safe }}

{% endblock %}