 {% load i18n %} 
 {% get_current_language as LANGUAGE_CODE %}
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                
                <div class="sidebar-brand-text mx-3">
                <img style="padding-bottom: 5px" width="30" height="30" src="/static/img/globe.svg" />
                {% trans 'HNTU' %}  <br /><sup>{% trans 'Student board' %}</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'courses' %}">
                    <i class="fas fa-fw fa-university"></i>
                    <span>{% trans 'Courses' %}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->

            {% if role == 'student' %}
                {% include 'student_menu.html' %}
            {% endif %}

            {% if not user.is_authenticated %}
            
                <a 
                class="btn btn-sm btn-primary"
                href="{% url 'student-registration' %}">
                    {% trans 'Student registration' %}
                </a>
                <a 
                class="btn btn-sm btn-primary"
                href="{% url 'mentor-registration' %}">
                    {% trans 'Mentor registration' %}
                </a>
            {% endif %}
           

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

           {% include 'parts/lang_panel.html' %}

           
          

        </ul>
        <!-- End of Sidebar -->