 {% load i18n %} 
 {% get_current_language as LANGUAGE_CODE %}
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                
                <div class="sidebar-brand-text mx-3">
                {% trans 'webmonstr' %}  <br /></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            {% if role == 'student' %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'courses' %}">
                        <i class="fas fa-fw fa-university"></i>
                        <span>{% trans 'Все курсы' %}</span></a>
                </li>
            {% endif %}

            {% if role == 'mentor' %}
                {% include 'mentor_menu.html' %}
            {% endif %}

            <!-- Divider 

            <hr class="sidebar-divider">
            -->

            <!-- Heading -->

            {% if role == 'student' %}
                {% include 'student_menu.html' %}
            {% endif %}

            {% if not user.is_authenticated %}
            
                <a 
                class="btn btn-sm btn-primary"
                href="{% url 'student-registration' %}">
                    {% trans 'Student registration' %}
                </a>
                <a 
                class="btn btn-sm btn-primary"
                href="{% url 'mentor-registration' %}">
                    {% trans 'Mentor registration' %}
                </a>
            {% endif %}
           

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <div class="text-center d-none d-md-inline">
                <a class="nav-link color-white link-small" href="{% url 'about' %}">ОБ АВТОРЕ</a>
            </div>

           

            <div class="text-center d-none d-md-inline">
                
                <div class="color-white">
                  <img width="150" src="/static/img/liq.png" />
                </div>                

            </div>            

           {% include 'parts/lang_panel.html' %}

           
          

        </ul>
        <!-- End of Sidebar -->