  {% load i18n %} 
 <div class="sidebar-heading">
                {% trans 'My courses' %}
            </div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <div id="js-student-menu"> </div>
</li>

<hr class="sidebar-divider">

<li class="nav-item active">
    <a class="nav-link" href="{% url 'student-labs' %}">
        <i class="fas fa-fw fa-bath"></i>
        <span>{% trans 'Labs' %}</span>
    </a>
</li>

<hr class="sidebar-divider">

<li class="nav-item active">
    <a class="nav-link" href="{% url 'replanish' %}">
        <i class="fas fa-fw fa-ruble-sign"></i>
        <span>{% trans 'Replanish account' %}</span></a>
</li>