{% extends 'layout.html' %}
{% block carousel %} {% endblock %}

{% block meta_title %}  Карта сайта. Разработка сайтов на python.{% endblock %}

{% block meta_description %} Разработка сайтов на python. {% endblock %}

{% block meta_keywords %} Разработка сайтов на python. {% endblock %}

{% block content %}

<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-8 layout_padding_2">
                <h1>Уроки по тегу: {{ tag }}</h1>
            </div>
            <div class="col-md-4 layout_padding_2">
                <h1>Теги</h1>
            </div>           
        </div>
        <div class="row">
            <div class="col-md-8">
                   {% for lesson in lessons %}
                    <div style="padding-left: 20px;">
                        <p>
                            <a href="{% url 'course_detail' slug=lesson.course.name_slug %}">
                                {{ lesson.course }}. 
                            </a> 
                        </p>

                        <a href="{{ lesson.get_absolute_url }}">
                            {{ lesson.number }}. 
                            {{ lesson.title }}
                        </a>
                        {% for topic in lesson.topic_set.all %}
                            <div style="padding-left: 20px;">   
                                {{ topic.title }}   
                            </div>                 
                        {% endfor %}
                    </div>
                   {% endfor %}
               
            </div>
            <div class="col-md-4">
                <div class="">
                    {% for t in tags %}
                      <a 
                      {% if t.id == tag.id  %} 
                        class='active-tag'
                      {% endif %}
                      href="{% url 'show-tag' tag=t.name%}">{{ t }}</a>
                    {% endfor %}
                   </div>
            </div>
        </div>        
    </div>
</div>

{% endblock %}