.reg-button {
    height: 40px !important;
    margin-top: 10px !important;
    color: white !important;
}

pre {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

p {
    color: black;
    margin-bottom: 0px;
}

h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-top: 10px;
    border-bottom: 1px solid silver;
}

h3 {
    font-size: 18px;
    color: black;
    font-weight: bold;
}



.color-red {
    color:  red;
}

.color-green {
    color:  green;
}

.lang-link img {
    width: 30px;
    height: 30px;
}

.lang-block {
    text-align: center;
}