.reg-button {
    height: 40px !important;
    margin-top: 10px !important;
    color: white !important;
}

pre {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

p {
    color: black;
}