{% extends 'layout.html' %}
{% load i18n %} 
{%  block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% trans 'Мои группы' %}</h1>
    </div>


{% for group in groups %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                {{ group.group.name }}
            </h6>
        </div>   
        <div class="card-body">
            <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody>
                    <thead>
                        <tr role="row">
                            <th class="sorting sorting_asc" >
                                {% trans 'ФИО' %}
                            </th>
                        
                        </tr>
                    </thead>
                    {% for student in group.group.student_set.all  %}
                        <tr>
                            <td>{{ student.surname }} {{ student.fname }} {{ student.lname }}</td>
                        </tr>
                    {% endfor %}                     
                </tbody>
            </table>

            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}