{% extends 'layout.html' %}
{% load i18n %}
{%  block content %}

<div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">{% trans 'Mentor registration' %}</h1>
                            </div>
                            <form class="user" method="POST" action="{% url 'mentor-registration' %}">
                            {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" 
                                        name="first_name"
                                        id="exampleFirstName" placeholder="{% trans 'First Name'%}">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-user" 
                                        name="last_name"
                                        id="exampleLastName" placeholder="{% trans 'Last Name' %}">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control form-control-user" 
                                        name="surname"
                                        id="exampleLastName" placeholder="{% trans 'Surname' %}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="email" type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" 
                                        name="password"
                                        class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" 
                                        name="repeat_password"
                                        class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                               
                            </form>
                            <hr>
                            <!--
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                             -->
                        </div>

{% endblock %}