 {% load i18n %} 
<tr>
    <td style="width: 16.66%">
    <img class="img-fluid" src="{{ item.image.url }}" alt="#" />
    </td>
    <td>
        {%  if item.pk not in joined_courses  %}
            {{ item.name }}
        {% else %}
            <a href="{% url 'detail-course-student' course_id=item.pk %}" 
            >{{ item.name }}</a>
        {% endif %}   
        <div class="color-black">{{ item.desc | safe}}</div>  
        <p>{% trans 'Стоимость' %}: 1 500 грн.</p>  
        <p>{% trans 'Amount of the lessons' %}: {{ item.count_lessons }}</p>  
        <p>{% trans 'Amount of the labs' %}: {{ item.count_labs }}</p>             
    </td>
    
    <td>
    {% if user.is_authenticated %}
        <!-- 
        {% if user.student %}
            {%  if item.pk not in joined_courses  %}
                <a href="{% url 'join-course-student' course_id=item.pk %}" class="btn btn-sm btn-secondary">{% trans 'Join' %}</a>
            {% else %}
                <a href="{% url 'detail-course-student' course_id=item.pk %}" 
            class="btn btn-sm btn-primary">{% trans 'Detail' %}</a>
            {% endif %}        
        {% endif %}
        -->

        {% if user.mentor %}
            {%  if item.pk not in joined_courses  %}
                <a href="{% url 'join-course-mentor' course_id=item.pk %}" class="btn btn-sm btn-secondary">{% trans 'Be a mentor' %}</a>
            {% else %}
                <a href="{% url 'detail-course-student' course_id=item.pk %}" 
            class="btn btn-sm btn-primary">{% trans 'Detail' %}</a>
            {% endif %}        
        {% endif %}
    {% endif %}

        <a href="/prepay/{{item.pk}}" class="btn btn-success">{% trans 'Купить курс' %}</a>

    </td>

</tr>  