 {% load i18n %} 
<tr>
    <td style="width: 16.66%">
    <img class="img-fluid" src="{{ item.image.url }}" alt="#" />
    </td>
    <td>
        {%  if item.pk not in joined_courses  %}
            {{ item.name }}
        {% else %}
            <a href="{% url 'detail-course-student' course_id=item.pk %}" 
            >{{ c.name }}</a>
        {% endif %}   
        <div class="color-black">{{ item.desc | safe}}</div>  
        <p>{% trans 'Mentor' %}: {{ item.mentors }}</p>  
        <p>{% trans 'Lessons' %}: {{ item.count_lessons }}</p>               
    </td>
    
    <td>
    {%  if c.pk not in joined_courses  %}
    <a href="{% url 'join-course-student' course_id=item.pk %}" class="btn btn-sm btn-secondary">{% trans 'Join' %}</a>
    {% else %}
        <a href="{% url 'detail-course-student' course_id=item.pk %}" 
        class="btn btn-sm btn-primary">{% trans 'Detail' %}</a>
    {% endif %}
    </td>

</tr>  