 {% load i18n %} 
<tr>
    <td style="width: 16.66%">
    <img class="img-fluid" src="{{ item.image.url }}" alt="#" />
    </td>
    <td>
        
            <a href="{% url 'detail-course-student' course_name_slug=item.name_slug %}" 
            >{{ item.name }}</a>
        
        <div class="color-black">{{ item.desc | safe}}</div>  

        <div style="display: flex">
            <div style="width: 100%">{% trans 'Уроков' %}: <span class="text-bold">{{ item.count_lessons }}</span>. {% trans 'Лабораторных работ' %}: <span class="text-bold">{{ item.count_labs }}</span>.
                <span>{% trans 'Стоимость' %}: 
                    {% if item.cost > 0 %}
                    <span class="text-bold">{{ item.cost }} грн.</span>
                    {% else %}
                    <span class="text-bold" style="color: green">
                        {% trans 'Бесплатно' %}
                    </span>
                    {% endif %}
                </span>
            </div>  
            <!--        
            <p>{% trans 'Стоимость' %}: <span class="text-bold">1 300 - 1 500 грн.</span></p>
            -->     
            {% if not item.is_paid and item.cost > 0 %}
                <a href="{% url 'pay-course' course_id=item.name_slug %}" class="btn btn-success" style="width: 200px"> {% trans 'Купить курс' %} </a>
            {% endif %}
        </div>
    </td>

</tr>  